body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#theme {
  background-color: transparent;
  width: 36px;
  height: 50px;
  margin-bottom: -38px;
  margin-right: 1.6px;
  z-index: 1;
}

.lightBulb {
  fill: transparent;
  transition: all 0.3s ease-in-out;
}

.lightOn {
  fill: #fed049;
  animation: lightOn 0.3s;
}

#bulb-stroke-bottom {
  fill: #333;
}

.bulb-stroke-bottomOn {
  fill: #e5e5e5 !important;
  transition: all 0.3s ease-in-out;
  animation: bulb-stroke-bottomOn 0.3s;
}

@keyframes bulb-stroke-bottomOn {
  0% {
    opacity: 0.5;
    fill: #333;
  }

  50% {
    transform: scale(0.6);
  }

  100% {
    fill: #e5e5e5;
    opacity: 1;
  }
}

@keyframes lightOn {
  0% {
    fill: #e5e5e5;
    transform: translateY(28px);
    opacity: 0.5;
  }

  50% {
    fill: #e5e5e5;
    transform: rotateZ(10deg);
  }

  100% {
    fill: #fed049;
    transform: rotateZ(0deg);
    opacity: 1;
  }
}

.cls-2 {
  fill: #4c5665;
}

.cls-3 {
  fill: #a4b0c0;
}

.cls-4 {
  fill: #768ba0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  background-color: #e5e5e5;
  /* background-image: url('./assets//images/mainBackground.svg'); */
  background-attachment: fixed;
  background-size: cover;
  background-position: 20% 40%;
  transition: all 0.3s ease-in-out;
}

.container-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.currency-item {
  display: flex;
  gap: 0.6rem;
}

.currency-itemOn {
  opacity: 1;
  animation: currency-itemOn 0.3s;
  transition: all 0.3s ease-in-out;
}

@keyframes currency-itemOn {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.limiter {
  font-weight: normal;
  color: #803737;
  font-size: 0.9rem;
  animation: limiter 1s infinite ease-in;
  margin-top: 1.5rem;
}

@keyframes limiter {
  0% {
    color: #e3747d;
  }

  100% {
    color: #803737;
  }
}

.title {
  padding-bottom: 1rem;
  color: #333333;
  text-align: center;
  user-select: none;
}

input {
  width: 6rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  height: 2.2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  text-align: center;
  background-color: #6B8068;
  color: #e5e5e5;
}

input::placeholder {
  color: #e5e5e5;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  background-color: #627261;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

svg {
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: #333333;
}

p {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 0.2rem solid #333333;
  padding-bottom: 0.2rem;
  color: #333333;
}

span {
  opacity: 0.6;
  font-size: 0.9rem;
  font-style: italic;
}

.add-pulse-black {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: add-pulse-black 2s infinite;
}

@keyframes add-pulse-black {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(107, 128, 104, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.button-3 {
  appearance: none;
  background-color: #2c974b;
  border: none;
  height: 2.2rem;
  border-radius: 0.4rem;
  color: #e5e5e5;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus {
  outline: transparent;
}

.button-3:active {
  background-color: #298e46;
}

/* js classes */
.background {
  background-color: #2d2d30f9;
  transition: all 0.3s ease-in-out;
}

.svgIcon {
  background-color: #e5e5e5;
  fill: #333333;
}

.buttonStyle {
  background-color: #F9D372;
  color: #333333;
}

.buttonStyle:active {
  background-color: #f9c747;
}

.titleText,
.moneyText,
.moneyText::placeholder,
.currencyRateText {
  color: #e5e5e5;
}

.outputText {
  border-bottom: 0.2rem solid #e5e5e5;
  padding-bottom: 0.2rem;
  color: #e5e5e5;
}

.dispNone {
  display: none;
}

@media (max-width: 425px) {
  @keyframes add-pulse-black {
    0% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 none;
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 0 none;
    }

    100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 none;
    }
  }
}